<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
>
<head th:replace="fragments :: head(~{::title})" >
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-5 mt-5">
            <form method="post" action="/auth/logout">
                <div class="mb-3">
                    <span>Are you sure</span>
                </div>
                <button type="submit" class="btn btn-warning">Yes</button>
                <a href="/home/v1">Back</a>
            </form>
        </div>
    </div>
</div>


<section th:replace="fragments :: js_links"></section>

</body>
</html>